/* src/style/Footer.css */
.footer-container {
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}
.footer-container a {
    margin: 0 2rem;
}


.footer-divider {
    margin: 1rem 8rem;
    border: none;
    height: 1px;
    text-align: center;
    background-color: #ea6834;
}
