.navBox {
    transition: top 0.6s ease-in-out; /* Transición suave */
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navBox.visible {
    top: 0; /* Cuando es visible, permanece en la parte superior */
  }
  
  .navBox.hidden {
    top: -100px; /* Cuando está oculta, se desplaza hacia arriba fuera de la pantalla */
  }
  
  .navbar {
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 0.5px solid rgba(57, 56, 56, 0.286);
    color: rgb(0, 0, 0);
    width: 100%;
    z-index: 10;
    transition: top 0.6s ease-in-out;
  }
  
  .navbar-logoBox {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar-logoBay {
    width: 40px;
  }
  
  .navbar-hamburger {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #ea6834;
    max-width: 100%; /* Se adapta al contenedor */
    height: auto; /* Mantiene la proporción original */
  }
  
  .icon-link {
    cursor: pointer;
    color: black;
    
  }

  #phone {
    display: inline-block; /* Asegúrate de que el elemento sea "inline-block" o "block" */
    transition: transform 0.1s; /* Esto es opcional para suavizar la entrada/salida */
  }
  
  #phone:hover {
    animation: vibrate 0.2s infinite; /* Aplica la animación en el hover */
  }
  
  @keyframes vibrate {
    0% {
      transform: rotate(3deg);
    }
    25% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
    75% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .icon-envelope-open {
    display: none; /* Oculta el ícono abierto por defecto */
  }
  
  .icon-link:hover .icon-envelope {
    display: none; /* Oculta el ícono cerrado al hacer hover */
  }
  
  .icon-link:hover .icon-envelope-open {
    display: inline; /* Muestra el ícono abierto al hacer hover */
  }


  .icon-link {
    position: relative; /* Para que los logos se superpongan */
  }
  
  .logo-default {
    display: block; /* Muestra el logo por defecto */
  }
  
  .logo-hover {
    display: none; /* Oculta el logo alternativo por defecto */
  }
  
  .icon-link:hover .logo-default {
    display: none; /* Oculta el logo por defecto al hacer hover */
  }
  
  .icon-link:hover .logo-hover {
    display: inline-block; /* Muestra el logo alternativo al hacer hover */
    width: 31.5px;
  }
  
  
  .links .link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    font-weight: 200;
  }
  
  .links .link:hover {
    color: #555;
    border-bottom: #ea6834 0.5rem solid;
    transition: border-bottom 0.3s ease;
  }
  
  .links ul {
    display: none;
  }
  
  @media (min-width: 800px) {
    .links ul {
      display: flex;
      gap: 30px;
      font-size: 1em;
      cursor: pointer;
      list-style: none;
    }
    .navbar-hamburger {
      display: none;
    }
    .icon-link {
      position: relative; /* Para que los logos se superpongan */
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-links {
      font-size: 1.5em;
      gap: 40px;
    }
    .icon-link {
      font-size: 1.5em;
    }
    .navbar-logoBay {
      width: 50px;
    }
  }
  